<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belajar VueJs</title>
</head>
<body>
<div id="app">
    <form action="">
        <input type="text" v-model="firstName">
        <input type="text" v-model="lastName">
    </form>
    <div>
        Full Name : {{fullName}}
    </div>
</div>

<script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
        data(){
            return{
                firstName: '',
                lastName: ''
            }
        },
        computed:{
            fullName(){
                return this.firstName + ' ' + this.lastName
            }
        }
            
    }).mount('#app')
</script>
</body>
</html>